<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--  all resources inside folder src/main/webapp/resources are mapped so they can be referred to inside JSP files -->
    <mvc:annotation-driven />

    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:resources mapping="/webjars/**" location="/webjars/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.gmail.osbornroad.service"/>
    <context:component-scan base-package="com.gmail.osbornroad.model"/>
    <context:component-scan base-package="com.gmail.osbornroad.controller"/>
    <context:component-scan base-package="com.gmail.osbornroad.repository"/>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id="conversionService">
        <property name="formatters">
            <set>
                <bean class="com.gmail.osbornroad.util.converter.DateTimeFormatters.LocalTimeFormatter"/>
                <bean class="com.gmail.osbornroad.util.converter.DateTimeFormatters.LocalDateFormatter"/>
                <!--<bean class="com.gmail.osbornroad.util.converter.DateTimeFormatters.LocalDateTimeFormatter"/>-->

            </set>
        </property>
    </bean>

    <bean class="com.gmail.osbornroad.controller.JacksonObjectMapper" id="objectMapper" factory-method="getMapper"/>


</beans>