<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <jdbc:initialize-database data-source="postgreeDataSource" enabled="true">
        <jdbc:script location="classpath:db/initDB.sql"/>
<!--
        <jdbc:script encoding="utf-8" location="classpath:db/populateDB.sql"/>
-->
    </jdbc:initialize-database>



    <!--Firebird-->
    <beans>
        <context:property-placeholder location="classpath:db/firebird.properties" system-properties-mode="OVERRIDE"/>

        <bean id="firebirdDataSource"
              class="com.gmail.osbornroad.repository.jdbc.datasources.FirebirdDataSource"
              p:driverClassName="org.firebirdsql.jdbc.FBDriver"
              p:url="${database.url}"
              p:username="${database.username}"
              p:password="${database.password}"/>
    </beans>
    <beans>
        <context:component-scan base-package="com.gmail.osbornroad.repository.jdbc"/>

        <!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <constructor-arg ref="dataSource"/>
        </bean>
-->

        <bean id="fireBirdJdbcTemplate" class="com.gmail.osbornroad.repository.jdbc.jdbctemplate.FireBirdJdbcTemplate">
            <property name="dataSource" ref="firebirdDataSource"/>
            <constructor-arg ref="firebirdDataSource"/>
        </bean>

        <bean id="firebirdTransactionManager"
              class="com.gmail.osbornroad.repository.jdbc.transactionmanager.FireBirdTransactionManager">
            <property name="dataSource" ref="firebirdDataSource" />
        </bean>
    </beans>

    <!--Postgree-->
    <beans>
        <context:property-placeholder location="classpath:db/postgree.properties" system-properties-mode="OVERRIDE"/>

        <bean id="postgreeDataSource"
              class="com.gmail.osbornroad.repository.jdbc.datasources.PostgreeDataSource"
              p:driverClassName="org.postgresql.Driver"
              p:url="jdbc:postgresql://localhost:5432/warehouse"
              p:username="user"
              p:password="password"/>
    </beans>

    <beans>
        <context:component-scan base-package="com.gmail.osbornroad.repository.jdbc"/>

        <!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
            <constructor-arg ref="dataSource"/>
        </bean>
-->

        <bean id="postgreeNamedParameterJdbcTemplate" class="com.gmail.osbornroad.repository.jdbc.jdbctemplate.PostgreeNamedParameterJdbcTemplate">
            <!--<property name="dataSource" ref="postgreeDataSource"/>-->
            <constructor-arg ref="postgreeDataSource"/>
        </bean>

        <bean id="postgreeJdbcTemplate" class="com.gmail.osbornroad.repository.jdbc.jdbctemplate.PostgreeJdbcTemplate">
            <property name="dataSource" ref="postgreeDataSource"/>
            <constructor-arg ref="postgreeDataSource"/>
        </bean>

        <bean id="postgreeTransactionManager"
              class="com.gmail.osbornroad.repository.jdbc.transactionmanager.PostgreeTransactionManager">
            <property name="dataSource" ref="postgreeDataSource" />
        </bean>
    </beans>

    <beans>
        <bean id="jpaTransactionManager"
              class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="eManagerFactory"/>
        </bean>
        <bean id="eManagerFactory"
              class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="dataSource" ref="postgreeDataSource"/>
            <property name="jpaVendorAdapter">
                <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
            </property>
            <property name="packagesToScan" value="com.gmail.osbornroad.model.jpa"/>
            <property name="jpaProperties">
                <props>
                    <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</prop>
                    <prop key="hibernate.show_sql">true</prop>
                </props>
            </property>
        </bean>
        <jpa:repositories base-package="com.gmail.osbornroad.repository.jpa"
                          entity-manager-factory-ref="eManagerFactory"
                          transaction-manager-ref="jpaTransactionManager"/>
    </beans>

    
   <!-- <beans>
        <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
              p:dataSource-ref="postgreeDataSource"
              p:packagesToScan="com.gmail.osbornroad.model.hibernate">
            <property name="hibernateProperties">
                <props>
                    <prop key="dialect">org.hibernate.dialect.PostgreSQL95Dialect</prop>
                    <prop key="hibernate.show_sql">true</prop>
                </props>
            </property>
        </bean>
        <bean id="hibernateTransactionManager" 
              class="org.springframework.orm.hibernate5.HibernateTransactionManager"
              p:sessionFactory-ref="sessionFactory"/>
    </beans>-->

</beans>