<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- HTTP basic authentication in Spring Security -->
    <http>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <access-denied-handler error-page="/403" />

        <form-login
                login-page="/login"
                login-processing-url="/j_spring_security_check"
                authentication-failure-url="/login?error"
                default-target-url="/main"
        />
        <logout logout-success-url="/login?logout"
        logout-url="/logout"
        />

        <!--<logout logout-success-url="/login?logout"
                logout-url="/j_spring_security_logout"/>-->
        <csrf/>

    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="Pavel" password="{noop}1" authorities="ROLE_USER" />
                <user name="Maksim" password="{noop}2" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>
